<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SSC</title>
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    @RenderSection("Styles", false)
</head>
<body>
    @RenderBody()
    <footer>
        <div>
            &copy; 2021 - XXXX University
        </div>
    </footer>
    @RenderSection("JavaScript", false)
</body>
</html>
